.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
Заметки.md


06-Grafana/prometheus
18-Alerting/prometheus
.vscode/tasks.json
.vscode/settings.json
.vscode/tasks.json
